# Only bind to interfaces you need to bind to
bind-interfaces
# Don't use host's nameservers
no-resolv
# Use Google's nameservers
server=8.8.8.8
server=4.4.4.4
# Reasonable cache size
cache-size=1000
# Explicitly define host-ip mappings
# address=/router/10.1.1.1
# address=/server/10.1.1.2
